* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

.App {
  margin: 0 auto;
}

.component {
  margin: 0 auto;
  text-align: center;
}
